<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ElStefan.AnalyzersAndRules" Description="ElStefan.AnalyzersAndRules" ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="RECS0165" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1134" Action="None" />
    <Rule Id="S1135" Action="Warning" />
    <Rule Id="S3168" Action="None" />
  </Rules>
</RuleSet>